<form method="post" action="{{ path('app_dashboard_wilaya_delete', {'id': wilaya.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wilaya.id) }}">
    <button class="btn">Delete</button>
</form>
