{% extends 'base.html.twig' %}

{% block title %}New Wilaya{% endblock %}

{% block body %}
    <h1>Create new Wilaya</h1>

    {{ include('dashboard/config/wilaya/_form.html.twig') }}

    <a href="{{ path('app_dashboard_wilaya_index') }}">back to list</a>
{% endblock %}
