{% extends 'dashboard/base_dashboard.html.twig' %}

{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ 'Create new Role' | trans }}</h3>
        </div>
        <div class="card-body">
            {{ include('dashboard/config/empl_role/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('dashboard_config_users_roles_index') }}">{{ 'back to list' | trans }}</a>
        </div>
    </div>



{% endblock %}
