<div class="mb-8">
    <div class="d-flex justify-content-between align-items-center mb-4" id="scrollspyTodos">
        <h2 class="mb-0">{{ 'Todo' | trans }}</h2>
    </div>
    {% for todolist in todoLists %}
        {% include('dashboard/_partials/_todo_list.html.twig') %}
    {% endfor %}
</div>