
<div class="lead-details-container">
{% include('dashboard/crm/contact/_partials/_details_nav.html.twig') %}
    <div class="scrollspy-example bg-body-tertiary rounded-2" data-bs-spy="scroll" data-bs-offset="0" data-bs-target="#navbar-deals-detail" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
        {% include('dashboard/crm/contact/_partials/_details_tab_interactions.html.twig') %}
        {% include('dashboard/crm/contact/_partials/_contact_page_details_todo.html.twig') %}
        {% include('dashboard/crm/contact/_partials/_contact_page_details_attachements.html.twig') %}


    </div>
</div>