{# details_tab_interactions.html.twig #}
<div class="mb-8" data-controller="comment">
    <h2 class="mb-4" id="scrollspyInteractions">{{ 'Interactions'|trans }}</h2>
    <hr>
    <div class="row align-items-center g-0 justify-content-start mb-3">
        <h3 class="mb-4">{{ 'New Interaction' |trans }}</h3>
        <div class="col-12 col-sm-auto">
            <div class=" mb-2 mb-sm-0" style="">
                {% include('dashboard/crm/contact/_partials/_new_interaction_form.html.twig') %}
            </div>
        </div>
    </div>
    <hr>
    <div class="mb-4">
        <h3 class="mb-4">{{ 'Interaction Histories' |trans }}</h3>
        {% for interaction in interactions %}
            {% include('dashboard/crm/contact/_partials/_interaction_history.html.twig') %}
        {% endfor %}
    </div>

</div>