<nav class="navbar pb-4 px-0 sticky-top bg-soft nav-underline-scrollspy" id="navbar-deals-detail">
    <ul class="nav nav-underline">
        <li class="nav-item"><a class="nav-link pe-3 active" href="#scrollspyInteractions">{{ 'Interactions' |trans }}</a></li>
        <li class="nav-item"><a class="nav-link pe-3" href="#scrollspyTodos">{{ 'Todo' |trans }}</a></li>
        <li class="nav-item"><a class="nav-link" href="#scrollspyAttachments">{{ 'Attachments' |trans }} </a></li>
    </ul>
</nav>