{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Edit BlogCategory{% endblock %}

{% block body %}
    <h1>Edit BlogCategory</h1>

    {{ include('dashboard/webmanagement/blog_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard_web_blog_category_index') }}">back to list</a>

    {{ include('dashboard/webmanagement/blog_category/_delete_form.html.twig') }}
{% endblock %}
