<form method="post" action="{{ path('app_dashboard_config_compaignType_delete', {'id': compaign_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compaign_type.id) }}">
    <button class="btn">Delete</button>
</form>
