{% extends 'dashboard/base_dashboard.html.twig' %}

{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}
    <div class="card">
        <div class="card-body">
            {{ include('dashboard/config/compaign_type_config/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('app_dashboard_config_compaignType_index') }}" class="btn btn-outline-success">
                <i class="fa fa-arrow-left"></i>
                {{ 'back to list' | trans }}
            </a>
        </div>
    </div>



{% endblock %}
