<form method="post" action="{{ path('app_dashboard_config_orderState_delete', {'id': order_state.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order_state.id) }}">
    <button class="btn btn-phoenix-secondary">Delete</button>
</form>
