{% extends 'dashboard/base_dashboard.html.twig' %}

{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}
<div class="card">
    <div class="card-header">  <h1>Edit Contact Source</h1>  </div>
    <div class="card-body">
    {{ include('dashboard/config/order_state/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="{{ path('app_dashboard_config_orderState_index') }}" class="btn btn-phoenix-secondary">back to list</a>
            {{ include('dashboard/config/order_state/_delete_form.html.twig') }}
        </div>
    </div>
</div>


{% endblock %}
