{% extends 'dashboard/base_dashboard.html.twig' %}


{% block body %}
    {% include('dashboard/_partials/_dashboard_page_header.html.twig') %}

    <div id="Contact-page-dashboard" class="row g-0 g-md-4 g-xl-6">
        <div class="col-md-5 col-lg-5 col-xl-4" id="contact_sidebar">
            <div class="d-flex justify-content-between align-items-center mb-2 d-md-none">
                <h3 class="mb-0">{{ 'Lead Details' | trans }}</h3>
                <button class="btn p-0" data-phoenix-dismiss="offcanvas">
                    <span class="uil uil-times fs-1"></span>
                </button>
            </div>
            {% include('dashboard/crm/contact/_partials/_contact_page_profile.html.twig') %}
            {% include('dashboard/crm/contact/_partials/_contact_page_informations.html.twig') %}
        </div>
        <div class="col-md-7 col-lg-7 col-xl-8" id="contact_details">
            {% include('dashboard/crm/contact/_partials/_contact_page_details.html.twig') %}

        </div>
    </div>



{% endblock %}
