<section class="container-fluid" style="">
    <div class=" " id="" data-at="">
        <div class="container d-flex flex-center ">
            <div class="contents container-small  " style="margin-right: auto; margin-left: auto ; display: block">
                {{ globalVariables.TheCompany.secondText | raw }}
            </div>
        </div>

    </div>
</section>