<li class="nav-item">
    <!-- label-->
    <p class="navbar-vertical-label">CATALOG</p>
    <hr class="navbar-vertical-line" />
    <!-- parent pages-->
    {% include('dashboard/_partials/_navbar/_parts/catalog/_catalog_products_vertical_menu.html.twig') %}
    {% include('dashboard/_partials/_navbar/_parts/catalog/_catalog_suppliers_vertical_menu.html.twig') %}
    {% include('dashboard/_partials/_navbar/_parts/catalog/_catalog_stock_vertical_menu.html.twig') %}



</li>