<li class="nav-item">
    <!-- label-->
    <p class="navbar-vertical-label">Documents
    </p>
    <hr class="navbar-vertical-line" />
    <!-- parent pages-->
    <div class="nav-item-wrapper"><a class="nav-link label-1" href="{{ path('app_dashboard_ged_index') }}" role="button" data-bs-toggle="" aria-expanded="false">
            <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                    <span class="fa fa-folder"></span>
                </span>
                <span class="nav-link-text-wrapper">
                    <span class="nav-link-text">{{ 'Tous les documents' | trans }}</span></span>
            </div>
        </a>
    </div>
    <div class="nav-item-wrapper">
        <a class="nav-link label-1" href="#" role="button" data-bs-toggle="" aria-expanded="false">
            <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                    <span class="fa fa-folder-open"></span>
                </span>
                <span class="nav-link-text-wrapper">
                    <span class="nav-link-text">{{ 'Dossiers' | trans }}</span>
                </span>
            </div>
        </a>
    </div>
    <!-- parent pages-->

</li>