<nav class="navbar navbar-vertical navbar-expand-lg" data-controller="navbar">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav" data-navbar-target="navbarVerticalCollapse">
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper">
                        <a class="nav-link  label-1" href="{{ path('app_dashboard_home_index') }}" >
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fa-solid fa-gauge-high"></span>
                                </span>
                                <span class="nav-link-text">
                                    {{ 'Dashboard' | trans }}
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                {% include('dashboard/_partials/_navbar/_crm_vertical_menu.html.twig') %}
                {% include('dashboard/_partials/_navbar/_catalog_vertical_menu.html.twig') %}
               {#  {% include('dashboard/_partials/_navbar/_accounting_vertical_menu.html.twig') %}#}
                {% include('dashboard/_partials/_navbar/_hr_vertical_menu.html.twig') %}
                {% include('dashboard/_partials/_navbar/_ged_vertical_menu.html.twig') %}
                {% include('dashboard/_partials/_navbar/_params_vertical_menu.html.twig') %}




            </ul>
        </div>
    </div>
    <div class="navbar-vertical-footer">
        <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center" data-action="click->navbar#toggleCollapse" data-navbar-target="navbarVerticalToggle">
            <span class="fa fa-arrow-left fs-0"></span>
            <span class="fa fa-arrow-right fs-0"></span>
            <span class="navbar-vertical-footer-text ms-2">{{ 'Collapsed View' | trans }}</span></button>
    </div>
</nav>