<div class="tab-pane fade" id="tab-image" role="tabpanel" aria-labelledby="tab-image">
    <div class="row">
        <div class="dropzone dropzone-multiple p-0 mb-5 dz-clickable" id="my-awesome-dropzone" data-dropzone="data-dropzone">
            {{ form_widget(form.images) }}
        </div>
    </div>
</div>
