{% extends 'base.html.twig' %}

{% block title %}Edit BankCreditState{% endblock %}

{% block body %}
    <h1>Edit BankCreditState</h1>

    {{ include('bank_credit_state/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bank_credit_state_index') }}">back to list</a>

    {{ include('bank_credit_state/_delete_form.html.twig') }}
{% endblock %}
