{% extends 'base.html.twig' %}

{% block title %}New BankCreditState{% endblock %}

{% block body %}
    <h1>Create new BankCreditState</h1>

    {{ include('bank_credit_state/_form.html.twig') }}

    <a href="{{ path('app_bank_credit_state_index') }}">back to list</a>
{% endblock %}
