<li class="nav-item m-1">
    <i class=""></i>
    <a href="tel:{{ globalVariables.TheCompany.phone1 }}"
       class="phone tagCall"
       style="direction: ltr!important;unicode-bidi: embed;"
    >{{ globalVariables.TheCompany.phone1 }}</a>
</li>

<li class="nav-item m-1">
    <a class="" href="mailto:{{ globalVariables.TheCompany.email1 }}" style="direction: ltr!important;unicode-bidi: embed;"> {{ globalVariables.TheCompany.email1 }} </a>
</li>