<section class="bg-100 dark__bg-1100 py-9">

    <div class="container-small">
        <div class="row justify-content-between gy-4">
            <div class="col-12 col-lg-4">
                <div class="d-flex align-items-center mb-3">
                    <img src="{{ asset('/uploads/the_company') }}/{{ globalVariables.TheCompany.logoMainLight }}" alt="logo" class="img-fluid logo-img" width="165">
                </div>
                <p class="text-700 mb-1 fw-semi-bold lh-sm fs--1">
                    La Résidence The Heaven n'est pas simplement un lieu d'habitation, c'est une déclaration de vie. Voici quelques raisons pour lesquelles cette résidence devrait être votre premier choix  l'élégance. Les intérieurs modernes fusionnent parfaitement avec les extérieurs architecturaux impressionnants, offrant une harmonie visuelle sans précédent.

                </p>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">À propos</h5>
                <div class="d-flex flex-column">
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="{{ path('app_web_jobs_index') }}">Offres d'emploie</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Programme</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Politique de confidentialité</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">CGV</a>
                </div>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">Contactes</h5>
                <div class="d-flex flex-column">
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Blog</a>
                    <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!">
                        <span class="fab fa-facebook-square text-primary me-2 fs-0"></span>
                        <span class="text-800">Facebook</span>
                    </a>
                    <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!">
                        <span class="fab fa-twitter-square text-info me-2 fs-0"></span>
                        <span class="text-800">Twitter</span>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">Service client</h5>
                <div class="d-flex flex-column">
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Suivis</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Contact</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Communauté</a>
                </div>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">Modes de paiements</h5>
                <div class="d-flex flex-column">
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Crédit bancaire</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Paiment par tranches</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Achat société</a>
                    <a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Paiements cash</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>