
<ul class="nav me-auto mb-2 mb-lg-0 mr-20  p-2 " style="flex-direction: row;margin-left: auto;">
    <li class="nav-item m-1"><a href="https://web.facebook.com/EvactAlgerie/" class="KnowMore" target="_blank" rel="noopener noreferrer"><i class="facebookIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="https://www.instagram.com/evactalgerie/" class="KnowMore" target="_blank" rel="noopener noreferrer"><i class="InstagramIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="https://twitter.com/EvactAlgerie" class="KnowMore" target="_blank" rel="noopener noreferrer"><i class="TwitterIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="https://www.tiktok.com/@evactalgerie" class="KnowMore" target="_blank" rel="noopener noreferrer"><i class="TiktokIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="https://www.linkedin.com/school/evact/about/?viewAsMember=true" class="KnowMore" target="_blank" rel="noopener noreferrer"><i class="LinkedinIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="https://m.me/evactalgerie" class="ExtContact" ><i class="MessengerIcone" target="_blank" rel="noopener noreferrer"></i>
        </a></li>
    <li class="nav-item m-1"><a href="https://wa.me/213699032069" class="ExtContact" ><i class="WhatsappIcone" target="_blank" rel="noopener noreferrer"></i>
        </a></li>
    <li class="nav-item m-1"><a href="viber://chat?number=%2B213699032069" class="ExtContact"  target="_blank" rel="noopener noreferrer"><i class="ViberIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="mailto:administration@evact.net" class="ExtContact" target="_blank" rel="noopener noreferrer"><i class="EmailIcone"></i>
        </a></li>
    <li class="nav-item m-1"><a href="tel:+21369903206" class="tagCall"><i class="PhoneIcone"></i>
        </a></li>
</ul>