<div id="titleTypes" class="d-flex align-content-center flex-center">
    <h2 class="display-4 mb-3 ">{{ 'Nos biens immobilier par type' | trans }}</h2>
</div>

<style>
    .row.d-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .col.d-flex {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    /* Media query for mobile devices */
    @media (max-width: 767px) {
        .col.d-flex {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

</style>
    <div class=" swiper-wrapper">
        {% for type in types %}
            <div class=" swiper-slide">
                {% include('web/_partials/_type_bien_card.html.twig') %}
            </div>
        {% endfor %}
    </div>