{# <div class="card">
    <div class="card-body">
        <h4 class="mb-5">Others Information</h4>
        <div class="row g-3">
            <div class="col-12">
                <div class="mb-4">
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                        <h5 class="mb-0 text-1000 me-2">Category</h5><a class="fw-bold fs--1" href="#!">Add new category</a>
                    </div>
                    <select class="form-select mb-3" aria-label="category">
                        <option value="financial">Financial</option>
                        <option value="marketplace">Marketplace</option>
                        <option value="travel">Travel</option>
                        <option value="e-commerce">E-commerce</option>
                        <option value="cloud-computing">Cloud Computing</option>
                    </select>
                </div>
                <div class="mb-4">
                    <h5 class="mb-0 text-1000 mb-2">Priority</h5>
                    <select class="form-select mb-3" aria-label="priority">
                        <option value="low">Low</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="urgent">Urgent</option>
                    </select>
                </div>
                <div class="mb-4">
                    <h5 class="mb-0 text-1000 mb-2">Stage</h5>
                    <select class="form-select mb-3" aria-label="stage">
                        <option value="new">New</option>
                        <option value="in-progress">In Progress</option>
                        <option value="pending">Pending</option>
                        <option value="canceled">Canceled</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <div class="mb-4">
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                        <h5 class="mb-0 text-1000 me-2">Lead Source</h5><a class="fw-bold fs--1" href="#!">Add new</a>
                    </div>
                    <select class="form-select mb-3" aria-label="lead-source">
                        <option value="referrals">Referrals</option>
                        <option value="former_clients">Former Clients</option>
                        <option value="competitors">Competitors</option>
                        <option value="business_sales">Business &amp; sales</option>
                        <option value="google_resources">Google resources</option>
                        <option value="linkedin">Linkedin</option>
                        <option value="marketing">Marketing</option>
                    </select>
                </div>
                <div>
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                        <h5 class="mb-0 text-1000 me-2">Campaign Source</h5><a class="fw-bold fs--1" href="#!">Add new</a>
                    </div>
                    <select class="form-select" aria-label="lead-source">
                        <option value="online_campaign">Online Campaign</option>
                        <option value="offline_campaign">Offline Campaign</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
#}