<div class="tab-content" id="myTabContent">
    {% include('dashboard/crm/customer/_partials/_details_interactions_history.html.twig') %}
    {% include('dashboard/crm/customer/_partials/_details_interests.html.twig') %}
    {% include('dashboard/crm/customer/_partials/_details_todo.html.twig') %}
    {% include('dashboard/crm/customer/_partials/_details_paiements.html.twig') %}
</div>