<div class="px-xl-4 mb-7">
    <div class="row mx-0 mx-sm-3 mx-lg-0 px-lg-0">
        <div class="col-sm-12 col-xxl-6 border-bottom border-end-xxl py-3">
            <table class="w-100 table-stats table-stats">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-inline-flex align-items-center">
                            <div class="d-flex bg-success-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-success-600 dark__text-success-300" data-feather="bar-chart-2" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Probability (%)</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0 mb-0 pb-3 pb-sm-0">12.5</p>
                    </td>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                            <div class="d-flex bg-info-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-info-600 dark__text-info-300" data-feather="trending-up" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Revenue</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">$1,500.00</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-xxl-6 border-bottom py-3">
            <table class="w-100 table-stats">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-inline-flex align-items-center">
                            <div class="d-flex bg-primary-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-primary-600 dark__text-primary-300" data-feather="phone" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Phone</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2"><a class="ps-6 ps-sm-0 fw-semi-bold mb-0 pb-3 pb-sm-0 text-900" href="tel:+11123456789">+11 123 456 789</a></td>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                            <div class="d-flex bg-warning-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-warning-600 dark__text-warning-300" data-feather="mail" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Email</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2"><a class="ps-6 ps-sm-0 fw-semi-bold mb-0 text-900" href="mailto:jacksonpol@email.com">jacksonpol@email.com</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-xxl-6 border-end-xxl border-bottom border-bottom-xxl-0 py-3">
            <table class="w-100 table-stats">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-inline-flex align-items-center">
                            <div class="d-flex bg-success-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-success-600 dark__text-success-300" data-feather="users" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Contact Name</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <div class="ps-6 ps-sm-0 fw-semi-bold mb-0 pb-3 pb-sm-0">Jackson Pollock</div>
                    </td>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                            <div class="d-flex bg-info-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-info-600 dark__text-info-300" data-feather="edit" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Modified By</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <div class="ps-6 ps-sm-0 fw-semi-bold mb-0">Ansolo Lazinatov</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-xxl-6 py-3">
            <table class="w-100 table-stats">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-inline-flex align-items-center">
                            <div class="d-flex bg-info-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-info-600 dark__text-info-300" data-feather="clock" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Create Date</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <div class="ps-6 ps-sm-0 fw-semi-bold mb-0 pb-3 pb-sm-0">Nov 30, 2022</div>
                    </td>
                </tr>
                <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                            <div class="d-flex bg-warning-100 rounded-circle flex-center me-3" style="width:24px; height:24px"><span class="text-warning-600 dark__text-warning-300" data-feather="clock" style="width:16px; height:16px"></span></div>
                            <p class="fw-bold mb-0">Closing Date</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <div class="ps-6 ps-sm-0 fw-semi-bold mb-0">Dec 15, 2022</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>