<ul class="nav nav-underline deal-details scrollbar flex-nowrap w-100 pb-1 mb-6" id="myTab" role="tablist" style="overflow-y: hidden;">
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link active" id="activity-tab" data-bs-toggle="tab" href="#tab-interactions" role="tab" aria-controls="tab-interactions" aria-selected="true" tabindex="-1">
            <span class="fa-solid fa-chart-line me-2 tab-icon-color"></span>{{ 'Interactions' | trans }}
        </a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="interests-tab" data-bs-toggle="tab" href="#tab-interests" role="tab" aria-controls="interests-tab" aria-selected="false">
            <span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>{{ 'Interests' | trans }}</a>
    </li>
    <li class="nav-item text-nowrap me-2" role="presentation">
        <a class="nav-link" id="todo-tab" data-bs-toggle="tab" href="#tab-todo" role="tab" aria-controls="todo-tab" aria-selected="false">
            <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>{{ 'Todo' | trans }}
        </a>
    </li>
</ul>
