{# Not used #}
<div class="row align-items-center justify-content-between g-3 mb-4">
    <div class="col-12 col-md-auto">
        <h2 class="mb-0">Deal details</h2>
    </div>
    <div class="col-12 col-md-auto d-flex">
        <button class="btn btn-phoenix-secondary px-3 px-sm-5 me-2"><span class="fa-solid fa-edit me-sm-2"></span><span class="d-none d-sm-inline">Edit		</span></button>
        <button class="btn btn-phoenix-danger me-2"><span class="fa-solid fa-trash me-2"></span><span>Delete Deal</span></button>
        <div>
            <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
            <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
                <li><a class="dropdown-item" href="#!">View profile</a></li>
                <li><a class="dropdown-item" href="#!">Report</a></li>
                <li><a class="dropdown-item" href="#!">Manage notifications</a></li>
                <li><a class="dropdown-item text-danger" href="#!">Delete Lead</a></li>
            </ul>
        </div>
    </div>
</div>