<div class="tab-pane fade" id="tab-todo" role="tabpanel" aria-labelledby="todo-tab">
    <h2 class="mb-4">{{ 'Todo list' | trans }}</h2>
    {% for todolist in todoLists %}
        {% include('dashboard/_partials/_todo_list.html.twig') %}
    {% endfor %}
</div>
