{# To integrate  #}
<div class="tab-pane fade" id="tab-paiements" role="tabpanel" aria-labelledby="paiements-tab">
    <div class="row align-items-center gx-4 gy-3 flex-wrap mb-3">
        <div class="col-auto d-flex flex-1">
            <h2 class="mb-0">{{ 'Paiements' | trans }}</h2>
        </div>
        <div class="col-auto">
            <div class="d-flex gap-3 gap-sm-4">
                <div class="form-check">
                    <input class="form-check-input" id="allCall" type="radio" name="allCall" checked="checked" />
                    <label class="form-check-label" for="allCall">All Call</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="incomingCall" type="radio" name="allCall" />
                    <label class="form-check-label" for="incomingCall">Incoming Call</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="outgoingCall" type="radio" name="allCall" />
                    <label class="form-check-label" for="outgoingCall">OutgoingCall</label>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary"><span class="fa-solid fa-plus me-2"></span>Add Call</button>
        </div>
    </div>
    <div class="border-top border-bottom border-200" id="leadDetailsTable" data-list='{"valueNames":["name","description","create_date","create_by","last_activity"],"page":5,"pagination":true}'>
        <div class="table-responsive scrollbar mx-n1 px-1">
            <table class="table fs--1 mb-0">
                <thead>
                <tr>
                    <th class="white-space-nowrap fs--1 align-middle ps-0" style="width:26px;">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"lead-details-table-body"}' />
                        </div>
                    </th>
                    <th class="sort white-space-nowrap align-middle pe-3 ps-0 text-uppercase" scope="col" data-sort="name" style="width:20%; min-width:100px">Name</th>
                    <th class="sort align-middle pe-6 text-uppercase" scope="col" data-sort="description" style="width:20%; max-width:60px">description</th>
                    <th class="sort align-middle text-start text-uppercase" scope="col" data-sort="create_date" style="width:20%; min-width:115px">create date</th>
                    <th class="sort align-middle text-start text-uppercase" scope="col" data-sort="create_by" style="width:20%; min-width:150px">create by</th>
                    <th class="sort align-middle ps-0 text-end text-uppercase" scope="col" data-sort="last_activity" style="width:20%; max-width:115px">Last Activity</th>
                    <th class="align-middle pe-0 text-end" scope="col" style="width:15%;"></th>
                </tr>
                </thead>
                <tbody class="list" id="lead-details-table-body">
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"Name":{"avatar":"/team/35.webp","name":"Ansolo Lazinatov","status":"online"},"description":"Purchasing-Related Vendors","date":"Dec 29, 2021","creatBy":"Ansolo Lazinarov","lastActivity":{"iconColor":"text-success","label":"Active"}}' />
                        </div>
                    </td>
                    <td class="name align-middle white-space-nowrap py-2 ps-0"><a class="d-flex align-items-center text-1000" href="#!">
                            <div class="avatar avatar-m me-3 status-online"><img class="rounded-circle" src="../../assets/img/team/35.webp" alt="" />
                            </div>
                            <h6 class="mb-0 text-1000 fw-bold">Ansolo Lazinatov</h6>
                        </a></td>
                    <td class="description align-middle white-space-nowrap text-start fw-bold text-700 py-2 pe-6">Purchasing-Related Vendors</td>
                    <td class="create_date text-end align-middle white-space-nowrap text-900 py-2">Dec 29, 2021</td>
                    <td class="create_by align-middle white-space-nowrap fw-semi-bold text-1000">Ansolo Lazinarov</td>
                    <td class="last_activity align-middle text-center py-2">
                        <div class="d-flex align-items-center flex-1"><span class="fa-solid fa-clock me-1 text-success" data-fa-transform="shrink-2 up-1"></span><span class="fw-bold fs--1 text-900">Active</span></div>
                    </td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"Name":{"avatar":"/team/9.webp","name":"Jackson Pollock","status":"offline"},"description":"Based on emails sent rate, the top 10 users","date":"Mar 27, 2021","creatBy":"Jackson Pollock","lastActivity":{"iconColor":"text-500","label":"6 hours ago"}}' />
                        </div>
                    </td>
                    <td class="name align-middle white-space-nowrap py-2 ps-0"><a class="d-flex align-items-center text-1000" href="#!">
                            <div class="avatar avatar-m me-3 status-offline"><img class="rounded-circle" src="../../assets/img/team/9.webp" alt="" />
                            </div>
                            <h6 class="mb-0 text-1000 fw-bold">Jackson Pollock</h6>
                        </a></td>
                    <td class="description align-middle white-space-nowrap text-start fw-bold text-700 py-2 pe-6">Based on emails sent rate, the top 10 users</td>
                    <td class="create_date text-end align-middle white-space-nowrap text-900 py-2">Mar 27, 2021</td>
                    <td class="create_by align-middle white-space-nowrap fw-semi-bold text-1000">Jackson Pollock</td>
                    <td class="last_activity align-middle text-center py-2">
                        <div class="d-flex align-items-center flex-1"><span class="fa-solid fa-clock me-1 text-500" data-fa-transform="shrink-2 up-1"></span><span class="fw-bold fs--1 text-900">6 hours ago</span></div>
                    </td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"Name":{"avatar":"/team/35.webp","name":"Ansolo Lazinatov","status":"online"},"description":"Based on the percentage of recipients","date":"Jun 24, 2021","creatBy":"Ansolo Lazinarov","lastActivity":{"iconColor":"text-success","label":"Active"}}' />
                        </div>
                    </td>
                    <td class="name align-middle white-space-nowrap py-2 ps-0"><a class="d-flex align-items-center text-1000" href="#!">
                            <div class="avatar avatar-m me-3 status-online"><img class="rounded-circle" src="../../assets/img/team/35.webp" alt="" />
                            </div>
                            <h6 class="mb-0 text-1000 fw-bold">Ansolo Lazinatov</h6>
                        </a></td>
                    <td class="description align-middle white-space-nowrap text-start fw-bold text-700 py-2 pe-6">Based on the percentage of recipients</td>
                    <td class="create_date text-end align-middle white-space-nowrap text-900 py-2">Jun 24, 2021</td>
                    <td class="create_by align-middle white-space-nowrap fw-semi-bold text-1000">Ansolo Lazinarov</td>
                    <td class="last_activity align-middle text-center py-2">
                        <div class="d-flex align-items-center flex-1"><span class="fa-solid fa-clock me-1 text-success" data-fa-transform="shrink-2 up-1"></span><span class="fw-bold fs--1 text-900">Active</span></div>
                    </td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"Name":{"avatar":"/team/9.webp","name":"Jackson Pollock","status":"offline"},"description":"Obtaining leads today","date":"May 19, 2024","creatBy":"Jackson Pollock","lastActivity":{"iconColor":"text-500","label":"6 hours ago"}}' />
                        </div>
                    </td>
                    <td class="name align-middle white-space-nowrap py-2 ps-0"><a class="d-flex align-items-center text-1000" href="#!">
                            <div class="avatar avatar-m me-3 status-offline"><img class="rounded-circle" src="../../assets/img/team/9.webp" alt="" />
                            </div>
                            <h6 class="mb-0 text-1000 fw-bold">Jackson Pollock</h6>
                        </a></td>
                    <td class="description align-middle white-space-nowrap text-start fw-bold text-700 py-2 pe-6">Obtaining leads today</td>
                    <td class="create_date text-end align-middle white-space-nowrap text-900 py-2">May 19, 2024</td>
                    <td class="create_by align-middle white-space-nowrap fw-semi-bold text-1000">Jackson Pollock</td>
                    <td class="last_activity align-middle text-center py-2">
                        <div class="d-flex align-items-center flex-1"><span class="fa-solid fa-clock me-1 text-500" data-fa-transform="shrink-2 up-1"></span><span class="fw-bold fs--1 text-900">6 hours ago</span></div>
                    </td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"Name":{"avatar":"/team/35.webp","name":"Ansolo Lazinatov","status":"online"},"description":"Sums up the many phases of new and existing businesses.","date":"Aug 19, 2024","creatBy":"Ansolo Lazinarov","lastActivity":{"iconColor":"text-success","label":"Active"}}' />
                        </div>
                    </td>
                    <td class="name align-middle white-space-nowrap py-2 ps-0"><a class="d-flex align-items-center text-1000" href="#!">
                            <div class="avatar avatar-m me-3 status-online"><img class="rounded-circle" src="../../assets/img/team/35.webp" alt="" />
                            </div>
                            <h6 class="mb-0 text-1000 fw-bold">Ansolo Lazinatov</h6>
                        </a></td>
                    <td class="description align-middle white-space-nowrap text-start fw-bold text-700 py-2 pe-6">Sums up the many phases of new and existing businesses.</td>
                    <td class="create_date text-end align-middle white-space-nowrap text-900 py-2">Aug 19, 2024</td>
                    <td class="create_by align-middle white-space-nowrap fw-semi-bold text-1000">Ansolo Lazinarov</td>
                    <td class="last_activity align-middle text-center py-2">
                        <div class="d-flex align-items-center flex-1"><span class="fa-solid fa-clock me-1 text-success" data-fa-transform="shrink-2 up-1"></span><span class="fw-bold fs--1 text-900">Active</span></div>
                    </td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                            <input class="form-check-input" type="checkbox" data-bulk-select-row='{"Name":{"avatar":"/team/35.webp","name":"Ansolo Lazinatov","status":"online"},"description":"Purchasing-Related Vendors","date":"Aug 19, 2024","creatBy":"Ansolo Lazinarov","lastActivity":{"iconColor":"text-success","label":"Active"}}' />
                        </div>
                    </td>
                    <td class="name align-middle white-space-nowrap py-2 ps-0"><a class="d-flex align-items-center text-1000" href="#!">
                            <div class="avatar avatar-m me-3 status-online"><img class="rounded-circle" src="../../assets/img/team/35.webp" alt="" />
                            </div>
                            <h6 class="mb-0 text-1000 fw-bold">Ansolo Lazinatov</h6>
                        </a></td>
                    <td class="description align-middle white-space-nowrap text-start fw-bold text-700 py-2 pe-6">Purchasing-Related Vendors</td>
                    <td class="create_date text-end align-middle white-space-nowrap text-900 py-2">Aug 19, 2024</td>
                    <td class="create_by align-middle white-space-nowrap fw-semi-bold text-1000">Ansolo Lazinarov</td>
                    <td class="last_activity align-middle text-center py-2">
                        <div class="d-flex align-items-center flex-1"><span class="fa-solid fa-clock me-1 text-success" data-fa-transform="shrink-2 up-1"></span><span class="fw-bold fs--1 text-900">Active</span></div>
                    </td>
                    <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
            <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
            </div>
            <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>
