<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch basic modal</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" data-controller="modal">
    <div class="modal-dialog">
        <!-- Modal content here -->
    </div>
</div>