{% extends 'base.html.twig' %}

{% block title %}New BienAdditionalState{% endblock %}

{% block body %}
    <h1>Create new BienAdditionalState</h1>

    {{ include('bien_additional_state/_form.html.twig') }}

    <a href="{{ path('app_bien_additional_state_index') }}">back to list</a>
{% endblock %}
