{% extends '/web/base_web.html.twig' %}
{% block body %}
    <div class="container-small">
        <div class="card">
            <img class="card-img-top" src="{{ asset('images/merci.jpg') }}" alt="..." />
            <div class="card-body">
                <h4 class="card-title">Merci !</h4>
                <p class="card-text">Merci pour l'interet que vous portez pour votre future </p>
                <p class="card-text">
                    <small class="text-muted">Un membre de notre équipe vous contacteras</small>
                </p>
            </div>
        </div>

    </div>
{% endblock %}