<section class="counter-section page-bg page-bg-2 pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 pb-30">
                <div class="counter-item counter-item-white">
                    <h3 class="counter-num">2531</h3>
                    <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 pb-30">
                <div class="counter-item counter-item-white">
                    <h3 class="counter-num">320</h3>
                    <h4>Awards Won</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 pb-30">
                <div class="counter-item counter-item-white">
                    <h3 class="counter-num">500</h3>
                    <h4>Reviews</h4>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 pb-30">
                <div class="counter-item counter-item-white">
                    <h3 class="counter-num">5003</h3>
                    <h4>Virus Protection</h4>
                </div>
            </div>
        </div>
    </div>
</section>