<section class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="section-title section-title-lg">
            <small>Complete Protection Package</small>
            <h2>Effective Protection For Home & Office</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-sm">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-4.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">Check And Search</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetet ur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut. </p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-sm">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-5.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">Install And Configure</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetet ur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut. </p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-sm">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-6.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">Departure Expert Team</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetet ur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut. </p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 offset-lg-4 offset-xl-0 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-sm">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-7.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">24/7 Remotely Support</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetet ur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut. </p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>