<section class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <small>By Using Our Products</small>
            <h2>Create A Safer World</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 pb-30 feature-card-item">
                <div class="feature-card">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-1.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">Personal Online Protection Everywhere We Go</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut labore et dolore magna.</p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-30 feature-card-item">
                <div class="feature-card">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-2.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">Simple Solution For Business's Security Problems</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut labore et dolore magna.</p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
            <div class="offset-md-3 offset-lg-0 col-md-6 col-lg-4 pb-30 feature-card-item">
                <div class="feature-card">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <img src="{{ asset('/images/feature/feature-3.jpg') }}" alt="feature">
                    </div>
                    <div class="feature-card-content">
                        <h3><a href="service-details.html">Protecting The Customers Of Global Operators</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadip scing elitr, sed diam nonumy eirmod tempor in vidunt ut labore et dolore magna.</p>
                        <a href="service-details.html" class="btn main-btn main-btn-border">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>