<header class="header-bg header-bg-one position-relative">
    <div class="bottom-frame"></div>
    <div class="header-carousel owl-carousel owl-theme">
        <div class="item">
            <div class="container-fluid d-flex align-items-center justify-content-center">
                <div class="header-content header-content-white">
                    <small>All research up to blockchain interoperability is completed</small>
                    <h1>Protect Your Data With Advanced Technology System</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et <br> dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. </p>
                    <div class="button-group">
                        <a href="contact-us.html" class="btn main-btn">Get Started</a>
                        <a href="services.html" class="btn main-btn main-btn-border-2" id="video-popup">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container-fluid d-flex align-items-center justify-content-center">
                <div class="header-content header-content-white">
                    <small>All research up to blockchain interoperability is completed</small>
                    <h1>Cognitive Solutions For Cyber Security Intelligence</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et <br> dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. </p>
                    <div class="button-group">
                        <a href="contact-us.html" class="btn main-btn">Get Started</a>
                        <a href="services.html" class="btn main-btn main-btn-border-2" id="video-popup">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>