<section class="price-section pt-100 pb-70 before-bg">
    <div class="container position-relative z-index-1">
        <div class="section-title section-title-lg section-title-white">
            <small>Get Security At A Cheaper Rate</small>
            <h2>Our Pricing Plans</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-shadow feature-card-white">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <div class="feature-card-bg-thumb">
                            <img src="{{ asset('/images/price-card-bg.jpg') }}" alt="abstract">
                            <div class="feature-price-plan feature-price-plan-white">
                                <h4>Basic</h4>
                                <h3>$ 45.00</h3>
                                <p>Per Month</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-card-content">
                        <ul class="feature-price-list">
                            <li class="price-priority">The Departure Of The Expect</li>
                            <li class="price-priority">Remote Administrator</li>
                            <li class="price-priority">Configure Software</li>
                            <li>Special Application</li>
                            <li>24/7 Support </li>
                        </ul>
                        <a href="pricing.html" class="btn main-btn main-btn-border">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-shadow feature-card-white">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <div class="feature-card-bg-thumb">
                            <img src="{{ asset('/images/price-card-bg.jpg') }}" alt="abstract">
                            <div class="feature-price-plan feature-price-plan-white">
                                <h4>Standard</h4>
                                <h3>$ 75.00</h3>
                                <p>Per Month</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-card-content">
                        <ul class="feature-price-list">
                            <li class="price-priority">The Departure Of The Expect</li>
                            <li class="price-priority">Remote Administrator</li>
                            <li class="price-priority">Configure Software</li>
                            <li class="price-priority">Special Application</li>
                            <li>24/7 Support </li>
                        </ul>
                        <a href="pricing.html" class="btn main-btn main-btn-border">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="offset-md-3 offset-lg-0 col-md-6 col-lg-4 pb-30 feature-card-item">
                <div class="feature-card feature-card-2 feature-card-shadow feature-card-white">
                    <div class="feature-card-thumb feature-thumb-frame-1">
                        <div class="feature-card-bg-thumb">
                            <img src="{{ asset('/images/price-card-bg.jpg') }}" alt="abstract">
                            <div class="feature-price-plan feature-price-plan-white">
                                <h4>Premium</h4>
                                <h3>$ 99.00</h3>
                                <p>Per Month</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-card-content">
                        <ul class="feature-price-list">
                            <li class="price-priority">The Departure Of The Expect</li>
                            <li class="price-priority">Remote Administrator</li>
                            <li class="price-priority">Configure Software</li>
                            <li class="price-priority">Special Application</li>
                            <li class="price-priority">24/7 Support </li>
                        </ul>
                        <a href="pricing.html" class="btn main-btn main-btn-border">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>