<section class="testimonial-section page-bg page-bg-2 pt-100 pb-100">
    <div class="container">
        <div class="section-title section-title-white">
            <small>Our Clients Talk About Their Satisfaction</small>
            <h2>Thoughts Of Our Client</h2>
        </div>
        <div class="testimonial-carousel-area">
            <div class="testimonial-carousel default-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-content testimonial-content-white">
                        <span class="testimonial-quote"><i class="flaticon-quote-1"></i></span>
                        <p class="testimonial-para">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                        <div class="testimonial-thumb">
                            <img src="{{ asset('/images/client-1.jpg') }}" alt="client">
                        </div>
                        <h3 class="testimonial-name">Richard William</h3>
                        <p class="testimonial-designation">CEO At Quick Soft</p>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content testimonial-content-white">
                        <span class="testimonial-quote"><i class="flaticon-quote-1"></i></span>
                        <p class="testimonial-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        <div class="testimonial-thumb">
                            <img src="{{ asset('/images/client-2.jpg') }}" alt="client">
                        </div>
                        <h3 class="testimonial-name">Jenia Henry</h3>
                        <p class="testimonial-designation">HR At Soft Tech</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>