{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}New WebJobOffer{% endblock %}

{% block body %}
    <h1 class="mb-2">{{ 'New Job Offer ' | trans }}</h1>

    {{ include('dashboard/hr/jobOffer/_form.html.twig') }}

    <a href="{{ path('app_dashboard_hr_job_offer_index') }}" class="btn btn-outline-phoenix-info">
        <i class="fa arrow-left"></i>
        {{ 'back to list' | trans }}</a>
{% endblock %}
