<ul class="nav justify-content-between nav-wizard" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link fw-semi-bold active"
           href="#bootstrap-wizard-tab1"
           data-wizard-step="1"
           aria-selected="false"
           role="tab"
           tabindex="-1"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block">
                <span class="nav-item-circle-parent">
                    <span class="nav-item-circle">
                        <span class="fas fa-lock"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">Détails</span>
            </div>
        </a>
    </li>
    <li class="nav-item" role="presentation" >
        <a class="nav-link fw-semi-bold "
           href="#bootstrap-wizard-tab2"
           data-wizard-step="2"
           aria-selected="false"
           role="tab"
           tabindex="-1"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block"><span class="nav-item-circle-parent"><span class="nav-item-circle">
                        <span class="fas fa-images"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">Images</span>
            </div>
        </a></li>
    <li class="nav-item" role="presentation" >
        <a class="nav-link fw-semi-bold "
           href="#bootstrap-wizard-tab3"
           data-wizard-step="3"
           aria-selected="false"
           role="tab"
           tabindex="-1"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block">
                <span class="nav-item-circle-parent">
                    <span class="nav-item-circle">
                         <span class="fas fa-dollar-sign"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">Prix</span>
            </div>
        </a></li>
    <li class="nav-item" role="presentation" >
        <a class="nav-link fw-semi-bold "
           href="#bootstrap-wizard-tab4"
           data-wizard-step="4"
           aria-selected="true"
           role="tab"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block">
                <span class="nav-item-circle-parent">
                    <span class="nav-item-circle">
                       <span class="fas fa-warehouse"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">Stock</span>
            </div>
        </a>
    </li>
    <li class="nav-item" role="presentation" >
        <a class="nav-link fw-semi-bold "
           href="#bootstrap-wizard-tab5"
           data-wizard-step="5"
           aria-selected="true"
           role="tab"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block">
                <span class="nav-item-circle-parent">
                    <span class="nav-item-circle">
                       <span class="fas fa-arrows-turn-to-dots"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">Combinaisons</span>
            </div>
        </a>
    </li>
    <li class="nav-item" role="presentation" >
        <a class="nav-link fw-semi-bold "
           href="#bootstrap-wizard-tab6"
           data-wizard-step="6"
           aria-selected="true"
           role="tab"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block">
                <span class="nav-item-circle-parent">
                    <span class="nav-item-circle">
                       <span class="fas fa-list-check"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">Caractéristiques</span>
            </div>
        </a>
    </li>
    <li class="nav-item" role="presentation" >
        <a class="nav-link fw-semi-bold "
           href="#bootstrap-wizard-tab7"
           data-wizard-step="7"
           aria-selected="true"
           role="tab"
           data-product-wizard-target="tab"
           data-action="click->product-wizard#handleTabClick">
            <div class="text-center d-inline-block">
                <span class="nav-item-circle-parent">
                    <span class="nav-item-circle">
                       <span class="fas fa-file-lines"></span>
                    </span>
                </span>
                <span class="d-none d-md-block mt-1 fs--1">SEO</span>
            </div>
        </a>
    </li>
</ul>